<% layout('layout') -%>
<div class="jumbotron">
	<h2>Changer de mot de passe</h2>
	<div id="change-password-form">
		<form class="form" method="post">
			<% errors.forEach(function(error){ %>
			<div class="alert alert-danger">
				<%= error %>
			</div>
			<% }) %>
			<div class="form-group">
				<label for="oldPassword"><%= labels.oldPassword %></label>
				<input type="password" class="form-control" name="oldPassword">
			</div>
			<div class="form-group">
				<label for="password"><%= labels.password %></label>
				<input type="password" class="form-control" name="password">
			</div>
			<div class="form-group">
				<label for="passwordRepeat"><%= labels.passwordRepeat %></label>
				<input type="password" class="form-control" name="passwordRepeat">
			</div>
			<div class="actions">
				<input type="submit" class="btn btn-primary" value="Enregistrer">
			</div>
		</form>
	</div>
</div>
