<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>PhoenixMusical.ca/membres</title>
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<%- body -%>
	</div>
</body>
</html>
